$gray-darker  = lighten(#000, 13.5%)
$gray-dark    = lighten(#000, 20%)
$gray         = lighten(#000, 33.5%)
$gray-light   = lighten(#000, 60%)
$gray-lighter = lighten(#000, 93.5%)
$black = #000
$white = #fff

$brand-primary = #428bca
$brand-success = #5cb85c
$brand-info = #5bc0de
$brand-warning = #f0ad4e
$brand-danger = #d9534f

$font-family-helvetica = "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
$font-family-weight = 500


.navbar-default
  background-color $gray-dark
  border-color $gray-dark
  box-shadow 0px 2px 5px 0px $gray
  .navbar-brand
    padding-left 100px
    font-family $font-family-helvetica
    font-size 25px 
    color $white

* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

