$gray-darker  = lighten(#000, 13.5%)
$gray-dark    = lighten(#000, 20%)
$gray         = lighten(#000, 33.5%)
$gray-light   = lighten(#000, 60%)
$gray-lighter = lighten(#000, 93.5%)
$black = #000
$white = #fff
$gray-font = #bdc3c7
$nav-color = #1b1f23 
$bg-color = #2c3e50

$brand-primary = #428bca
$brand-success = #5cb85c
$brand-info = #5bc0de
$brand-warning = #f0ad4e
$brand-danger = #d9534f

$font-family-helvetica = "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
$font-family-normal = "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
$font-family-proxima = "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif
$font-family-weight = 500


.navbar-default
  margin-bottom 0px
  background-color $nav-color
  border-color $nav-color
  box-shadow 0px 2px 5px 0px $black
  .navbar-brand
    padding-left 120px
    font-family $font-family-helvetica
    font-size 30px
    color $white
  .navbar-brand:hover
    color $white
  .navbar-nav > li > a
    font-size 14px
    color $gray-light
  .navbar-nav > li > a:hover
    color $gray


body { padding-top: 50px; }

section *
  z-index 2 

.main-header
  width 100%
  height 1000px
  display table
  vertical-align middle
  position relative
  text-align center
  background-color $bg-color

.background
  position absolute
  background url('bgimage.jpg') no-repeat
  background-size cover
  opacity 0.65
  top 0
  left 0
  bottom 0
  right 0
  z-index 1
  float none

.hero-unit
  margin-top 250px
  font-family $font-family-normal
  font-weight 300
  color $gray-font
  background-color transparent
  position relative
  font-size 25px

.hero-unit h1
  color $white
  font-family $font-family-normal
  font-weight 300
  font-size 45px

.app-store-btn
  font-family $font-family-normal
  font-weight 300
  border-radius 4px
  color $white
  background-color transparent
  border-color $white
  -webkit-animation-delay 0.3s
  transition all 0.1s ease-out
  display inline-block !important
  opacity 0.85
  margin-top 15px
  position relative
  z-index 2
  font-size 16px
  padding 8px 15px
.app-store-btn:hover
  background-color $white
  color $gray-darker

.tutorial
  width 100%
  display table
  text-align center
  background-color $white
  position relative
  margin-top 50px
  height 700px

.tutorial h1
  position relative
  font-family $font-family-proxima
  font-weight 300
  font-size 45px

.tutorial h6
  font-family $font-family-proxima
  font-size 20px
  font-weight normal
  color #34495e
  line-height 25px

.tutorial-left-text
  top 100px
  font-family $font-family-normal
  font-weight 300
  color $gray-font
  position relative
  font-size 25px

.tutorial-right-text
  font-family $font-family-proxima
  color #95a5a6
  position relative
  line-height 24px
  font-size 16px
  font-weight 200

.footer
  color $white
  background-color $nav-color
  font-family $font-family-helvetica
  font-size 25px
